body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    margin-bottom: 10px;
}
h3 {
    margin-top: -15px;
}


select {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
    cursor: pointer;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

#graph-container {
    display: flex;
    justify-content: center; /* Centers the graph */
    align-items: center;
    height: 400px; /* Ensure enough space */
    margin-top: 20px;
    margin-bottom: 20px;
}


#animation-container {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid #000;
    background-color: white;
    position: relative;
}
#dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Adds spacing between dropdowns */
    margin-top: -15px;
    margin-bottom: -20px;
}

#stress-graph {
    display: block;
    margin: auto; /* Centers the graph */
    height: 100%;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spaces out buttons */
}

button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}
